.marquee {
    overflow: hidden;
    white-space: nowrap;
  }

  .marquee-content {
    display: inline-flex;
    animation: marquee 15s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .partner-logo {
    flex: 0 0 auto;
  }